[Unit]
Description=TopaChain's distributed currency daemon
After=network.target

[Service]
User=topachain
Group=topachain

Type=forking
PIDFile=/var/lib/topachaind/topachaind.pid

ExecStart=/usr/bin/topachaind -daemon -pid=/var/lib/topachaind/topachaind.pid \
          -conf=/etc/topachain/topachain.conf -datadir=/var/lib/topachaind

ExecStop=-/usr/bin/topachain-cli -conf=/etc/topachain/topachain.conf \
         -datadir=/var/lib/topachaind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
